<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Enter recipient info</ng-template>

      <mat-form-field>
        <input matInput placeholder="Email" formControlName="emailCtrl" required>
      </mat-form-field>

      <mat-form-field>
        <input 
          type="text" 
          formControlName="priorityCtrl" 
          placeholder="Priority" 
          matInput 
          [matAutocomplete]="auto"
          required>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let priority of priorities" [value]="priority">
            {{priority}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input 
          type="text" 
          formControlName="departmentCtrl" 
          placeholder="Department" 
          matInput 
          [matAutocomplete]="auto2"
          required>
        <mat-autocomplete 
          autoActiveFirstOption 
          #auto2="matAutocomplete" 
          [displayWith]="getDepartmentName">
          <mat-option *ngFor="let department of departments" [value]="department">
            {{department.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div>
        <button mat-icon-button matStepperNext 
        matTooltip="press to continue" 
        matTooltipPosition ="after"
        matTooltipClass="example-tooltip">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Enter message</ng-template>
      <mat-form-field>
        <input matInput placeholder="Message" formControlName="messageCtrl" required>
      </mat-form-field>
      <div>
        <button mat-icon-button matStepperPrevious>
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button matStepperNext>
          <mat-icon>mail_outline</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [optional]="false">
    <ng-template matStepLabel>Preview</ng-template>
    <p>Message sent!</p>
    <div>
      <button mat-icon-button matStepperPrevious>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-icon-button (click)="stepper.reset()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>