<mat-card>
    <mat-card-title>New Customer</mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field class="full-width">
                <input
                    matInput
                    placeholder="Email"
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher"
                >
                <mat-hint align="end">Hint: email@domain.com</mat-hint>
                <mat-error
                    align="end"
                    *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('requiired')"
                >
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input
                    matInput
                    placeholder="First"
                >
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    placeholder="Last"
                >
            </mat-form-field>
            <mat-form-field class="full-width">
                <textarea
                    matInput
                    placeholder="Address"
                ></textarea>
            </mat-form-field>
            <mat-form-field class="full-width">
                <span matPrefix>+1</span>
                <input
                    matInput
                    placeholder="Phone"
                >
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    placeholder="Fax"
                >
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

        </form>

    </mat-card-content>
    <mat-card-actions>
        <button
            mat-raised-button
            color="primary"
            (click)="openRepDialog()"
            (click)="openUndoSnackBar()"
        >
            SAVE
        </button>
    </mat-card-actions>
</mat-card>
