<mat-card>

  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Username</mat-card-title>
    <mat-card-subtitle>Email Address</mat-card-subtitle>

  </mat-card-header>

  <img mat-card-image src="/assets/img/woman-509958.jpg">

  <mat-card-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin blandit tempus. Etiam aliquam
      malesuada enim, sed dictum purus ornare nec.</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary">Like</button>
    <button mat-button color="primary">Delete</button>
    <div class="flex-spacer"></div>
    <button mat-icon-button>
      <mat-icon>publish</mat-icon>
    </button>
  </mat-card-actions>

</mat-card>