
.mat-card {
    max-width: 300px;
    margin:auto;
}

.mat-card-avatar {
    background-image: url('/assets/img/woman-509958.jpg');
    background-size:cover;
}

.mat-card-actions {
    display: flex;
}

.mat-card-actions .flex-spacer {
    width: 100%;
}
